## Credit Score Project

In [11]:
#importing necessary libaries 
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_curve, precision_score, roc_auc_score, roc_curve
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split
import xgboost as xgb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import matplotlib.pyplot as plt
from dataprep.clean import clean_headers

In [12]:
#Importing the dataset for train
train_path = Path('data', 'data_devsample.csv')
credit_df = pd.read_csv(train_path)
credit_df = clean_headers(credit_df)

Column Headers Cleaning Report:
	197 values cleaned (100.0%)

In [13]:
credit_df.shape

(80000, 197)

In [14]:
nums_df = credit_df[nums_list:=[col for col in credit_df.columns if credit_df[col].dtypes in [int,float]]]
cat_df = credit_df.drop(nums_list, axis= 'columns')

In [15]:
print((cat_df.isnull().sum() > 0).sum())
cat_df.isna().sum()

6

name_contract_type                0
code_gender                       0
flag_own_car                      0
flag_own_realty                   0
name_type_suite                 353
name_income_type                  0
name_education_type               0
name_family_status                0
name_housing_type                 0
occupation_type               25067
weekday_appr_process_start        0
organization_type                 0
fondkapremont_mode            54886
housetype_mode                40120
wallsmaterial_mode            40626
emergencystate_mode           37892
time                              0
dtype: int64

In [39]:
missing_col = [col for col in cat_df.columns if cat_df[col].isna().sum()]
for col in missing_col:
    print(f"{col} unique values are: {cat_df[col].unique()} \n with {cat_df[col].isnull().sum()} missing rows \n")

name_type_suite unique values are: ['Family' 'Unaccompanied' 'Spouse, partner' 'Children' 'Group of people'
 nan 'Other_B' 'Other_A']
 with 353 missing rows

occupation_type unique values are: ['Laborers' nan 'Medicine staff' 'Drivers' 'Sales staff' 'Managers'
 'Accountants' 'Cooking staff' 'Waiters/barmen staff' 'Core staff'
 'High skill tech staff' 'Cleaning staff' 'HR staff' 'Security staff'
 'Private service staff' 'Low-skill Laborers' 'Secretaries'
 'Realty agents' 'IT staff']
 with 25067 missing rows

fondkapremont_mode unique values are: [nan 'reg oper account' 'org spec account' 'reg oper spec account'
 'not specified']
 with 54886 missing rows

housetype_mode unique values are: ['block of flats' nan 'specific housing' 'terraced house']
 with 40120 missing rows

wallsmaterial_mode unique values are: ['Panel' nan 'Stone, brick' 'Monolithic' 'Others' 'Block' 'Wooden' 'Mixed']
 with 40626 missing rows

emergencystate_mode unique values are: ['No' nan 'Yes']
 with 37892 missing rows

0               Family
1        Unaccompanied
2        Unaccompanied
3        Unaccompanied
4        Unaccompanied
             ...
79995    Unaccompanied
79996    Unaccompanied
79997          Other_A
79998    Unaccompanied
79999    Unaccompanied
Name: name_type_suite, Length: 80000, dtype: object